:root {
  --max-width: 960px;
  --preview-image-size: 300px;
  --side-margin: 1em;
  --border-radius: 1em;
  --message-max-width: max-content;
}
@media screen and (max-width: 800px) {
  :root {
    --preview-image-size: 200px;
    --side-margin: 0.5em;
    --border-radius: 0.5em;
  }
}
@media screen and (max-width: 560px) {
  :root {
    --preview-image-size: 120px;
    --side-margin: 0;
    --border-radius: 0;
    --message-max-width: 100%;
  }
}
body {
  display: grid;
  padding: 0;
  margin: 0;
  font-family: system-ui;
  font-size: 16px;
  background-color: #e5e5f7;
  background-image: radial-gradient(#5d65ff 0.5px, #e5e5f7 0.5px);
  background-size: 0.5em 0.5em;
  background-attachment: fixed;
}
:link {
  all: unset;
  color: #5d65ff;
}
:visited {
  color: unset;
  color: #5d65ff;
}
.tgme_page_photo_image {
  border-radius: 1000px;
  --photo-size: 48px;
  width: var(--photo-size);
  height: var(--photo-size);
}
.tgme_header {
  display: grid;
  grid-template: "icon name info" auto / max-content minmax(max-content, 1fr) auto;
  gap: 0.5em;
  padding: 0.5em 1em;
  align-items: center;
  z-index: 100;
  position: sticky;
  background: #fff8;
  top: 0;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: inset 0 -1px 2px #fff8, 0 1px 5px #0001;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  width: 100%;
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
}
.tgme_header .tgme_page_photo_image {
  grid-area: icon;
}
.tgme_header .tgme_channel_info_header_title_wrap {
  grid-area: name;
}
.tgme_header .tgme_channel_info_header_title {
  font-weight: 600;
  font-size: 20px;
}
.tgme_header .tgme_channel_info_header_username {
  font-weight: 200;
  font-style: oblique;
  font-size: 14px;
}
.tgme_header .tgme_channel_info_counters {
  grid-area: info;
  display: flex;
  gap: 0.8em;
  overflow-x: auto;
  align-self: stretch;
  align-items: center;
}
.tgme_header .tgme_channel_info_counters .tgme_channel_info_counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tgme_header .tgme_channel_info_counters .counter_type {
  text-transform: capitalize;
  font-weight: 200;
  font-size: 12px;
}
.tgme_header .tgme_channel_info_counters .counter_value {
  font-weight: 400;
}
.tgme_channel_info_description {
  white-space: pre-line;
  margin: 1em auto;
  margin-top: 0;
  padding: 0.7em 1em;
  line-height: 1.3;
  font-size: 14px;
  font-weight: 300;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 0 0 1em 1em;
  box-shadow: 0 1px 3px #0001;
  background-color: #fffa;
  width: minmax(max-content, var(--max-width));
  box-sizing: border-box;
  overflow-wrap: anywhere;
}
.tgme_channel_history {
  display: flex;
  flex-direction: column-reverse;
  gap: 1em;
  max-width: var(--max-width);
  box-sizing: border-box;
  margin: auto;
}
.tgme_widget_message {
  margin: 0 var(--side-margin);
  padding: 0.7em 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 3px #0001;
  background-color: #fffa;
  max-width: var(--message-max-width);
}
.tgme_widget_message_user {
  display: grid;
}
.tgme_widget_message_author {
  font-size: 12px;
  font-weight: 600;
}
.tgme_widget_message_forwarded_from {
  font-size: 12px;
  font-weight: 200;
  margin-top: -0.5em;
}
.tgme_widget_message_text {
  overflow-wrap: anywhere;
  line-height: 1.3;
  font-weight: 200;
}
.tgme_widget_message_text pre {
  overflow-wrap: anywhere;
  white-space: pre-line;
  margin: 0;
}
.tgme_widget_message_link_preview {
  display: grid;
  position: relative;
  gap: 0.5em;
  grid-template:
    "title" auto
    "site" auto
    "description" 1fr / 1fr;
  overflow: hidden;
  border-radius: 0.6em;
  background-color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.tgme_widget_message_link_preview:has(.link_preview_right_image) {
  grid-template:
    "icon title" auto
    "icon description" 1fr / var(--preview-image-size) 1fr;
  height: var(--preview-image-size);
  padding-left: 0;
}
.tgme_widget_message_link_preview:has(.link_preview_image) {
  min-height: var(--preview-image-size);
  height: auto;
  grid-template:
    "icon" auto
    "title" auto
    "description" 1fr / 1fr;
}
.link_preview_site_name {
  grid-area: site;
  font-size: 14px;
  font-weight: 200;
  color: black;
}
:is(
    .tgme_widget_message_link_preview:has(.link_preview_right_image),
    .tgme_widget_message_link_preview:has(.link_preview_image)
  )
  .link_preview_site_name,
.tgme_widget_message_video_duration {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  padding: 0.2em 0.5em;
  font-size: 12px;
  font-weight: 600;
  background-color: #fffa;
  border-radius: 0.5em;
  box-shadow: 0 1px 3px #0002;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.link_preview_title {
  padding-top: 0.5em;
}
.link_preview_description {
  font-size: 12px;
  overflow: hidden;
  padding-bottom: 0.5em;
  line-height: 1.1;
  color: black;
}
.link_preview_image,
.link_preview_right_image {
  grid-area: icon;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tgme_widget_message_photo {
  display: block;
  border-radius: 0.5em;
}
.tgme_widget_message_info {
  font-size: 12px;
  font-weight: 200;
}
.tgme_widget_message_meta {
  float: right;
}
.tgme_widget_message_views {
  font-weight: 600;
}
.tgme_widget_message_photo_wrap {
  display: block;
}
.tgme_widget_message_photo {
  max-height: 400px;
  max-width: 100%;
  object-fit: contain;
}
.tgme_widget_message_video {
  position: relative;
  display: block;
}
.tgme_widget_message_video_thumb {
  display: block;
  border-radius: 0.5em;
}
.emoji_default .emoji {
  background: none !important;
}
.emoji_image .emoji {
  width: 1.2em;
  height: 1.2em;
  vertical-align: top;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  background: no-repeat -1000px -1000px;
  background-size: 1.2em 1.2em;
  text-indent: -10em;
  padding: 3px 3px 3px 2px;
  margin: -3px -2px;
}
.emoji_image .emoji:before {
  content: "";
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  background-position: 2px 50%;
  background-position-y: calc(50% + 1px);
}
.emoji_image .emoji > b {
  letter-spacing: 12em;
  pointer-events: none;
}
